<section id="{{id}}">
    <div class="aboutBG">
      <img id="aboutBGImage" src="../images/portraitAboutMe-min.jpg">
      <div id="aboutMe">{{aboutMe}}</div>
    </div>

    {{#each workExperience}}
    <article class="roles">
      <div class="roleHeader">
        <img src="../images/{{this.company}}.png" alt="">
        <p>{{this.title}}</p>
        <p>{{this.company}}</p>
      </div>
      <div class="roleContent">
        <p class="summary"></p>
        <p class="roles"></p>
        <p class="skills"></p>
      </div>
    </article>
    {{/each}}
</section>
