<section id="{{id}}">
    <div class="aboutBG">
      <img id="aboutBGImage" src="../images/portraitAboutMemin.jpg">
      <div id="aboutMe">{{aboutMe}}</div>
    </div>

    {{#each workExperience}}
    <article class="roles">
      <div class="roleHeader">
        <img src="../images/{{this.company}}.png" alt="">
        <p id="aboutTitle">{{this.title}}</p>
        <p id="aboutCompany">{{this.company}}</p>
        <p id="aboutAbout">{{this.about}}</p>
      </div>
    </article>
    {{/each}}
</section>
